@charset "utf-8";
	.st0
{
	background : #F9F0B7;
	background : rgba(249, 240, 183, 1);
}
.st1
{
	background : #4C3D34;
	background : rgba(76, 61, 52, 1);
}
.st2
{
	background : #DBA2A4;
	background : rgba(219, 162, 164, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st3
{
	background : #6D5646;
	background : rgba(109, 86, 70, 1);
}
.st4
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st5
{
	background : #F9F0B7;
	background : rgba(249, 240, 183, 1);
}
.st6
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st7
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st8
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
.st9
{
	background : #4C3D34;
	background : rgba(76, 61, 52, 1);
}
.st10
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st11
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
	border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st12
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st13
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
	border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st14
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st15
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st16
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
.st17
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
	border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st18
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
	border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st19
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st20
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st21
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
	border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st22
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st23
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st24
{
	border-style : Solid;
	border-color : #FF0003;
	border-color : rgba(255, 0, 3, 1);
	border-width : 1px;
}
.st25
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st26
{
	background : #4C3D34;
	background : rgba(76, 61, 52, 1);
}
.st27
{
	background : #221710;
	background : rgba(34, 23, 16, 1);
}
.st28
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st29
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
